.podcast {
  display: block;
  padding: 2rem;
}

.innerPodcasts {
  display: flex;
  flex-direction: column;
}

.innerPodcasts > * + * {
  margin-top: 3rem;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbar > * + * {
  margin-left: 1rem;
}

.podcastCounter {
  align-content: center;
  justify-content: center;
  line-height: 1;
}

.counter {
  display: inline-flex;
  border-radius: 4px;
  background-color: #535bf2;
  padding: 0.2rem;
  color: #ffffff;
}

.content {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
